$not_cons_color: rgb(247, 187, 187);
$complete_color: rgb(164, 253, 142);
$cons_color: rgb(226, 255, 218);;
$buy_color: rgb(184, 207, 178);
$tome_not_buyed: rgb(255, 236, 205);

$foreground: rgb(254, 250, 255);
$border_color:rgb(226, 226, 226); 

$border_coll_color:rgb(148, 148, 148);
$border_not_cons_color:rgb(255, 192, 192);
$border_buyed_color:rgb(131, 202, 113);

$dis_color:rgb(179, 150, 150); 





section {
    display: inline-block;
    width: 800px;
    background-color: $foreground;
    padding: 10px;
    border: 1px solid $border_color;
    vertical-align: top;
    
}

aside {
    padding: 10px;
    width: 300px;
    background-color: $foreground;
    display: inline-block;
    align-self: baseline;
    margin-inline-start: 10px;
    border: 1px solid $border_color;
}

h2 {
    display: block;
}

main {
    width: 1200px;
    background-color: white;
    min-height: 90vh;
    padding: 30px;
}

li { 
    list-style: none;
    margin-bottom: 10px;
}

.buyed {
    background-color: $buy_color;
}

.cons {
    background-color: $cons_color;
}

.legend_color {
    display: inline-block;
    border: 1px solid black;
    height: 20px;
    width: 50px;
    border-radius: 3px;
}

.legend_text {
    display: inline-block;
    margin-left: 10px;
}

.not_cons {
    background-color: $not_cons_color;
}

.vol {
    padding: 10px;
}

.vol_container .not_cons {
    color: $dis_color;
    border-bottom: 1px solid $border_not_cons_color;
}

.vol_container .buyed {
    border-bottom: 1px solid $border_buyed_color;
}

.tome_not_buyed {
    background-color: $tome_not_buyed;
}

.coll_container {
    width: 500px;
}

.coll {
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 1px solid $border_coll_color;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
    
}
