<main>
    <mat-icon>dfdffdfdf</mat-icon>
    <section>
      <h1>Mes collections</h1>
      <a routerLink="new"><mat-icon>add_circle</mat-icon><span>Ajouter une nouveau collection</span></a>
      <div *ngIf="collections.length > 0">
        <div class="coll_container" *ngFor="let collection of collections;  let i = index;">
          <div >
            <div class="coll" [ngClass]="{
              'complete': collection.is_complete(),
              'not_cons': !collection.is_complete() && !collection.is_conserved,
              'cons': !collection.is_complete() && collection.is_conserved
              
            }">
            <mat-icon *ngIf="!get_deployable(i)" (click)="OnDeployBroClicked($event, i)" #deployer>keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="get_deployable(i)" (click)="OnDeployBroClicked($event, i)" #deployer>keyboard_arrow_up</mat-icon>
            <div class="coll_head">
              {{ collection.title }}
            </div> 
            <div class="coll_actions">
              
              <mat-icon [ngClass]="{'disabled': collection.is_conserved || is_working, 'pointer': !collection.is_conserved && !is_working}">check_circle_outline</mat-icon>
              <mat-icon [ngClass]="{'disabled': !collection.is_conserved || is_working, 'pointer': collection.is_conserved && !is_working}">highlight_off</mat-icon>
              <mat-icon>edit</mat-icon>
              <mat-icon *ngIf="collection.is_conserved">drag_indicator</mat-icon>
            </div>
            
            </div>
           
          </div>
          
          <div #deployable class="gosth">
            <div class="vol_container" *ngFor="let volume of collection.volumes; let j = index" >
              <div class="vol" [ngClass]="{
                'not_cons': !collection.is_conserved,
                'buyed': collection.is_conserved && volume.is_buyed,
                'tome_not_buyed': collection.is_conserved && !volume.is_buyed
              }">
                <div class="volume_head">
                  Volume {{ volume.num }} {{volume. title}}
                </div>
                <div *ngIf="collection.is_conserved" class=volume_actions>
                  <mat-icon [ngClass]="{'disabled': volume.is_buyed || is_working, 'pointer': !volume.is_buyed && !is_working}" (click)="OnBuyerClicked($event, i, j)">check_circle_outline</mat-icon>
                  <mat-icon [ngClass]="{'disabled': !volume.is_buyed || is_working, 'pointer': volume.is_buyed && !is_working}" (click)="OnUnbuyerClicked($event, i, j)">highlight_off</mat-icon>
                  <mat-icon class="pointer">edit</mat-icon>
                  <mat-icon *ngIf="collection.is_conserved">drag_indicator</mat-icon>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
      
    </section>
    <aside>
    <h2>Legende</h2>
    <h3>Collection</h3>
      <ul>
        <li><div class="legend_color not_cons"></div><div class="legend_text">Non conserve</div></li>
        <li><div  class="legend_color cons"></div><div class="legend_text">A Conserver</div></li>
        <li><div  class="legend_color complete"></div><div class="legend_text">Complete</div></li>
      </ul>
      <h3>Tome</h3>
      <ul>
        <li><div  class="legend_color buyed"></div><div class="legend_text">Tome achete</div></li>
        <li><div  class="legend_color tome_not_buyed"></div><div class="legend_text">Tome pas achete</div></li>
      </ul>
    </aside>
  </main>
  <router-outlet></router-outlet>
