@import '~@angular/material/prebuilt-themes/indigo-pink.css';

$title_color:rgb(158, 118, 177); 


body {
    background-color: rgb(238, 238, 238);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
    cursor: pointer;
}

.mat-dialog-content {
    padding-left: 0px !important;
    padding-right: 15px !important;
    margin: 0px !important;
    height: calc(80vh - 180px) !important;
    overflow: scroll;
}
.mat-dialog-title {
    height: 50px;
    background-color: $title_color;

}
.custom-modalbox .mat-dialog-container {
    overflow: hidden;
    padding: 0px !important;
}

.bubule {
    display: none;
}

mat-checkbox {
    display: block !important;
}

mat-icon {
    margin-right: 8px;
}

.add_author {
    display: inline;
}

.gosth {
    display: none;
}

.delete_icon{
    font-size: xx-large;
}

